Loops
1. loops -> for & while
2.  nested loops & nested conditional statements
3. list comprehension
4. automation libraries -> selenium & pyautogui(position and screen)
5. data collection -> scrapping & automation
6. Zip, complexities

In [ ]:
#for i in range(#start,#stop,#skip):  # i =iterating variable
  #statement                       # 'for' is a keyword
#for i in range(0,10):
  #print(i) #output will be 0 to 9 excluding 10

In [ ]:
for i in range(41,51):
  if i == 48:
    print("Yes we've have done it")
  else:
    print(i)

41
42
43
44
45
46
47
Yes we've have done it
49
50

In [ ]:
count = 0
while count < 10:
  count += 1
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
count = 15
while count > 10:
  count -= 1
  print("What's the output?")
else:
  print("This is else")

What's the output?
What's the output?
What's the output?
What's the output?
What's the output?
This is else

In [ ]:
#"I won't be chatting in the class"
for i in range(0,100):
  print("I won't be chatting in the class")

I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class
I won't be chatting in the class

In [ ]:
arr =[]
a = int(input())
b = int(input())
for i in range(a,b):
  arr.append(i)
print(arr)

11
23
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [ ]:
# brr = [statement for loop]
# brr =[statement for loop if condition]
# brr =[statement if condition else condition for loop]
brr = [i for i in range(0,100) if i%2 == 0]

In [ ]:
brr

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [ ]:
brr = [i for i in range(0,100) if i%2 == 1]

In [ ]:
brr

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
brr = [i for i in range(0,101) if i%2 == 0]

In [ ]:
brr

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruit = ["apple","banana","cherry","kiwi","mango"]
newlist = [x for x in fruits if x=="mango"] # list Comprehension
print(newlist)

['mango']

LIST -> DICT -> TUPLE -> SET

(precedence)

NESTED

1. list in list
2. dict in dic
3. tuple in tuple
4. loop in loop
5. conditional satatement in cs

In [ ]:
variable = "Toy Story"
if "Toy" in variable:
  print("Its is a toy")
else:
  print("Its not a toy")

Its is a toy

In [ ]:
variable = 5000
if variable >1000: #first statement is true which why we can access the next cs
  if variable <10000:
    if variable == 5000:
      print("OKAYYIII")
    print("Yes, it is nested")
  print("Its not nested")
else:
  print("I'm wrong")

OKAYYIII
Yes, it is nested
Its not nested

In [ ]:
for i in range(5):
  for j in range(5):
    print(j)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [ ]:
fruits =["apples","mangoes","bananas","oranges"]
qauntity = [5,10,15,20]
final = {}
for i in fruits:
  for j in qauntity:
    final[i] = j

print(final)

{'apples': 20, 'mangoes': 20, 'bananas': 20, 'oranges': 20}

In [ ]:
fine = zip(fruits,qauntity)

In [ ]:
for i,j in fine:
  print(i,j)

apples 5
mangoes 10
bananas 15
oranges 20

In [ ]:
for i,j in fine:
  final[i] = j

In [ ]:
final

{'apples': 20, 'mangoes': 20, 'bananas': 20, 'oranges': 20}